*{margin: 0px;
  padding: 0px;
}
.menu-container{
  background-color: rgba(0, 0, 0, 0.634);
  padding: 20px;
  color: aliceblue;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}
.menus{
  display: flex;
}
.head-1{
  color: white;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.item{
  font-size: 18px;
margin-right: 10px;
padding-right: 8px;
}
.item:hover{
  color: aqua;
  cursor: pointer;
}
.banner-img{
  width: 250px;
}
.banner-container{
  display: flex;
  padding: 50px;
  align-items: center;
  background-color: black;
  color: azure;
  justify-content: space-around;
  height: 500px;
 /* border: 2px solid aqua; */
 
 
}
.head-2{
  font-size: 55px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-head{
  text-align: center;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.description{
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.btn-primary{
  padding: 11px 21px;
  border-radius: 50%;
  background-color: red;
  color: aliceblue;
  border: none;
}
.btn-primary:hover{
  color: blue;
  background-color: aquamarine;
  cursor: pointer;
}
.about-container{
  display: flex;
  padding: 50px;
  align-items: center;
  background-color: white;
  color:black;
  justify-content: space-around;
  height: 500px;
}
.img-2{
  width: 500px;
}
.head-3{
  font-size: 55px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.service-head{
  text-align: center;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 55px;
  background-color: black;
  color: aliceblue;
}
.box{
  width: 210px;
  height: 240px;
  box-shadow: 4px 4px 250px white;
  text-align: center;
  padding: 50px;
  background-color: black;
  color: azure;
}
.service-container{
  display: flex;
  padding: 50px;
  align-items: center;
  background-color: black;
  
  justify-content: space-around;
  height: 500px;
}
.head-4{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box-btn{
  background-color: gray;
  margin-top: 10px;
}